/*
 * Env.h
 *
 *  Created on: 30 jul. 2021
 *      Author: isrev
 */

#ifndef ENV_H_
#define ENV_H_

#include "Arduino.h"
#include <Keypad.h>

const char password [] = "1234";
const char telefonoPrincipal[] = "123456789";
const char telefonoLlamada_1[] = "123456789";
const char telefonoLlamada_2[] = "123456789";


//WIFI
const char ssidWifi[] = "";
const char passwordWifi[] = "";


#endif /* ENV_H_ */
